!!! html
%head
  %title Sinatra-min
  %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1'}
  %meta{name: 'description', content: 'An awesome application'}
  %link{rel: 'stylesheet', href: '/css/screen.css', media: 'screen'}
%body
  %header
    %h1
      %a{href: '/'}
        path11
  =yield
  %footer
    %p path11, all rights reserved 2012.
